* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--white);
}
:root {
  --white: rgb(225, 225, 225);
}

section#work.active
  > div
  > div:nth-child(2)
  > div:nth-child(2)
  > span:not(:hover):before {
  transition: 500ms ease-out;
}
body > main {
  z-index: 1;
  position: absolute;
  /* display: none; */
}
div.cursor {
  position: fixed;
  pointer-events: none;
  background-color: rgba(225, 225, 225);
  /* border: 3px solid white; */
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%) scale(1) translateZ(0px);
  mix-blend-mode: difference;
  border-color: #f3f2f9;
  width: 24px;
  height: 24px;
}
div.wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
}
main > div.wrapper > header#icons {
  position: absolute;
  right: 13%;
  left: 13%;
  top: 14%;
  display: flex;
  height: 10%;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: auto;
  z-index: 10;
}
main > div.wrapper > main#intro {
  position: absolute;
  height: fit-content;
  left: 50%;
  transform: translate(-50%, -30%);
  top: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main#intro {
  font-size: 100%;
  width: 50vw;
}
main#intro > div {
  width: fit-content;
  display: grid;
  grid-template-rows: 4fr 1.2fr 0.8fr;
  justify-content: center;
  align-items: center;
  font-family: "bellota";
  cursor: default;
}
div#main-txt {
  margin-bottom: 15px;
}
div#main-txt > div {
  display: grid;
  font-size: 4.5em;
  word-spacing: 0.25em;
  letter-spacing: -0.02em;
  grid-template-rows: 1fr 1fr 1fr;
  white-space: nowrap;
  height: fit-content;
  font-stretch: expanded;
  font-family: "Mirza";
}

div#main-txt > div > h5 > div {
  letter-spacing: 0;
  text-transform: uppercase;
  display: inline;
  color: white;
}
div#main-txt > div > h5:nth-child(2) > div > span {
  white-space: pre;
}
main > div.wrapper > main#intro div > div#main-txt > div > h5:nth-child(1) {
  letter-spacing: -2px;
}
div#main-txt > div > h5 > span:nth-child(1) {
  text-transform: uppercase;
}
main > div.wrapper > main#intro > div > div:nth-child(2) {
  word-spacing: 0.3em;
  letter-spacing: 0.05em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: 500;
  white-space: pre;
  width: 100%;
}

main#intro > div > div:nth-child(2) > span {
  color: var(--white);
}
main#intro > div > div:nth-child(2) > span:first-child {
  text-transform: uppercase;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul.links {
  color: var(--white);
  font-size: 1.4em;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

header#icons > span.icon,
header#icons > div:nth-child(2) > span:nth-child(2) {
  position: relative;
  height: 90%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
header#icons > span.icon {
  left: 10px;
  width: 50px;
  height: 50px;
  overflow: visible;
}

header#icons > div:nth-child(2) > span:nth-child(2) {
  height: 100%;
  overflow: hidden;
  padding: 5px;
}

header#icons > div:nth-child(2) > span.icon > svg {
  height: 40px;
  width: 40px;
  overflow: visible;
}

header#icons > div:nth-child(2) {
  height: 100%;
  position: relative;
  right: 10px;
  width: 10%;
  display: flex;
  justify-content: space-between;
}

#menu {
  display: none;
}

div#main-txt > div > h5 > span,
div#main-txt > div > h5 > div > span,
main#intro > div > div:nth-child(2) > span,
main#intro > div > ul.links > li > span {
  white-space: pre;
  display: inline-block;
}
.nonActive {
  display: none !important;
}
.active {
  z-index: 1;
  left: 50%;
  transform: translate(-50%, -40%);
  top: 50%;
  background-color: transparent;
  position: fixed;
  font-family: "bellota";
}
section#about.active,
section#work.active,
section#contact.active {
  width: 60vw;
  display: none;
}

section#about.active > div:nth-child(1),
section#contact.active > div:nth-child(1) {
  display: flex;
}

section#about.active > div:nth-child(1) > div:nth-child(1) {
  font-size: 4.2em;
  letter-spacing: 0.09em;
  flex-direction: column;
  margin-right: 15px;
}
section#about.active > div:nth-child(1) > div:nth-child(2) {
  font-size: 1.5em;
  word-spacing: 0.3em;
  flex-grow: 1;
  margin-left: 15px;
}

section#work.active,
section#contact.active {
  height: 50vh;
  position: relative;
}
section#work.active > div {
  height: 100%;
  flex-direction: column;
}
section#work.active > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#work.active > div > svg {
  width: 10vw;
  padding: 10px;
  margin-bottom: 15px;
}
section#work.active > div > div {
  font-size: 1.2em;
  font-weight: 700;
}
section#contact.active > div:nth-child(1) {
  justify-content: space-around;
  height: 100%;
}
section#contact.active > div:nth-child(1) > span,
section#contact.active > div:nth-child(1) > div {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  word-spacing: 0.2rem;
  letter-spacing: -0.1rem;
}

section#contact.active > div > ul {
  width: 50%;
  height: 100%;
  justify-content: space-around;
  flex-direction: column;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 1.2em;
  backdrop-filter: blur(4px);
  background-color: rgb(255, 255, 255, 0.035);
  border-radius: 15px;
  overflow: hidden;
  padding-bottom: 20px;
  list-style: none;
}
section#contact.active > div > ul > li {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
  padding: 10px 20px;
}
section#contact.active > div > ul > li::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 90%;
  bottom: 0;
  left: 50%;
  right: 0;
  transform: translate(-50%, 0);
  background-color: rgb(234, 236, 255);
}
section#contact.active > div > ul > li > img {
  height: 50px;
  border-radius: 50%;
}
section#contact.active > div a {
  display: inline-flex;
  justify-content: start;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
ul.links > li {
  position: relative;
}
ul.links > li::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: -2%;
  background-color: var(--white);
  transform: scaleX(0);
  transition: all 200ms ease-in-out;
  transform-origin: center;
}
ul.links > li:hover::before {
  transform: scaleX(1);
}
