body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
div.tile-container > div.tiles {
  width: 65px;
  height: 65px;
  position: static;
  background-color: #2d4356;
}
div.tile-container {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  display: grid;
  position: absolute;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  overflow: hidden;
}
/* @keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

div#welcome {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  display: none;
}
canvas#canvas {
  position: absolute;
  background-color: #000000;
  background-size: 400% 400%;
  width: 100vw;
  height: 100vh;
  z-index: -10;
}
div#skip {
  position: absolute;
  width: 40vw;
  height: 30vh;
  display: none;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #b9d3e7;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 25px,
    rgba(0, 0, 0, 0.15) 0px 5px 10px;
  justify-content: center;
  align-items: center;
}
div#skip::before {
  content: "";
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #00030546;
}
div#skip > button {
  all: unset;
  position: absolute;
  top: 5px;
  right: 5px;
  width: calc(1vw + 1vh);
  height: calc(1vw + 1vh);
  background-color: white;
}
div#skip > button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5%;
  top: 50%;
  transform: rotate(45deg);
  background-color: black;
}
div#skip > button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5%;
  top: 50%;
  transform: rotate(-45deg);
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}

div#skip > span {
  text-align: center;
  font-family: "Pixelify Sans", cursive;
  font-size: 120%;
  word-spacing: calc(1vw - 5px);
  z-index: 2;
}
div#skip > span > span {
  color: #945050;
  text-transform: uppercase;
  text-decoration: underline;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
div#skip > button:hover {
  background-color: rgba(255, 255, 255, 0.207);
  transition: all 200ms linear;
}
div#skipButton {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: none;
  z-index: 10;
}
#btn {
  background: #222;
  height: 10vh;
  min-width: 20vw;
  border: none;
  border-radius: 10px;
  box-sizing: content-box;
  color: #eee;
  font-size: 150%;
  position: relative;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  padding: 5px 0;
}
div#skipButton > div.bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: linear-gradient(
    90deg,
    rgb(20, 35, 90) 0%,
    rgb(24, 35, 95) 51%,
    rgb(26, 47, 116) 100%
  );
}
#btn #circle {
  width: 5px;
  height: 5px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 500ms;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#btn:hover {
  background: transparent;
}

#btn:hover #circle {
  height: 10vh;
  min-width: 20vw;
  left: 0;
  border-radius: 0;
  border-bottom: 2px solid #eee;
}
div#skipButton > div.skipCancel {
  position: absolute;
  height: calc(1.5vw + 2vh);
  width: calc(1.5vw + 2vh);
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(220%, -50%);
  transition: all 400ms linear;
}
div#skipButton > div.skipCancel > span {
  width: 85%;
  border-radius: 5px;
  height: 8%;
  background-color: black;
  position: absolute;
}

div#skipButton > div.skipCancel > span:nth-child(1) {
  rotate: 45deg;
}
div#skipButton > div.skipCancel > span:nth-child(2) {
  rotate: -45deg;
}
div#skipButton > div.skipCancel:active {
  background-color: rgba(255, 255, 255, 0.459);
}
div#skipButton > div.skipCancel:hover {
  background-color: #222;
}
#skipButton .skipCancel:hover span {
  background-color: rgb(218, 211, 211);
  transition: all 400ms linear;
}
#skipButton .skipCancel span:not(:hover),
#skipButton .skipCancel:not(:hover) {
  transition: all 400ms linear;
}
