@import "tailwindcss";
@config "../../../tailwind.config.ts";

@layer base {
  :root {
    --color-text: #a19d99;
    --color-primary: #0b1a2a;
    --color-secondary: #b93920;
    --color-dull-black: #0c0c0b;
    --color-mute-white: #e5e5e0;
    --color-deep-steel: #537189;
    --color-paper-black: #2a2a2a;
    --color-complimentary: #ffc857;
    --color-border-light: #53718933;
  }
}

@theme {
  --color-text: #a19d99;
  --color-primary: #0b1a2a;
  --color-secondary: #b93920;
  --color-dull-black: #0c0c0b;
  --color-mute-white: #e5e5e0;
  --color-deep-steel: #537189;
  --color-paper-black: #2a2a2a;
  --color-complimentary: #ffc857;
  --color-border-light: #53718933;
}

@layer utilities {
  .font-wdth-normal {
    font-variation-settings: "wdth" 100;
  }
  .hover\:font-wdth-wide {
    transition: font ease-in-out 100ms;
  }
  .hover\:font-wdth-wide:hover {
    font-variation-settings: "wdth" 125;
  }

  .center {
    @apply flex justify-center items-center;
  }
  .takeScreen {
    @apply top-0 left-0 bottom-0 right-0;
  }
  .center_ab {
    @apply left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}

@layer base {
  *,
  ::before,
  ::after {
    border-color: var(--color-deep-steel);
  }
}
button {
  @apply cursor-pointer;
}
.div {
  @apply h-full w-full;
}
a {
  @apply cursor-pointer duration-150;
}
.tracking-tighter {
  word-spacing: 3px;
}
h1,
h2,
h3,
h4,
h5 {
  @apply font-satoshi ;
}
.heading_2 {
  @apply text-[clamp(1.8rem,4vw,4rem)] leading-[clamp(2.2rem,4.5vw,4.8rem)];
}
.heading {
  @apply text-[clamp(2rem,7vw,7.5rem)] tracking-tight font-bold leading-[clamp(2.5rem,6vw,6.5rem)];
}
